/*
	COLORS:
		old gold: #CEA73C
		gold: #FFD141
		light yellow: #FFF284
		dark blue: #042155
		blue: #143D7B
		light blue: #3395DB
*/

body {
    color: #000000;
    font-family: Arial;
    font-size: 12px;
		background-image:url('/resources/images/river texture.jpg');
}

/* BACKGROUND COLOR CLASSES */
.oldGoldBG
{
	background-color:#CEA73C;
}

.goldBG
{
	background-color:#FFD141
}

.lightYellowBG
{
	background-color:#FFF284;
}

.darkBlueBG
{
	background-color:#042155;
}

.blueBG
{
	background-color:#143D7B;
}

.lightBlueBG
{
	background-color:#3395DB;
}

#banner
{
	background-color:black;
	height:200px;
	width:100%;
}

#lolLogo
{
	width:409px;
	height:auto;
	display:block;
	margin:0 auto;
	vertical-align: middle;
}

#footer {
	font-size: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	text-align: center;
}

#main {
	margin:0 20px;
	min-width:800px;
	border: 2px solid black;
	border-top-width:0;
	overflow: hidden;
}

#login {
	height: 30px;
	width: 100%;
	background-color: #143D7B; /* blue */
	color: white;
	text-align: right;
	font-size: 12px;
	position: relative;
	padding: 0;
}

#adminlink {
	visibility: hidden;
	width: 0;
	margin: 0px;
	padding: 0px;
}

a {
	color: #000000;
}