 #navbar
{
	white-space:nowrap;
	text-align:center;
	vertical-align:middle;
	background-color:#042155; /* dark blue */
}

#navbar a, #navbar a:link
{
	text-decoration:none;
	text-align:center;
}

#navbar > div
{
	position:relative;
	display:inline-block;
	margin: 5px 3px;
}

#navbar > div:first-child
{
	margin-left:0px
}

#navbar > div > a
{
	display:inline-block;
	color: white;
	background-color:#143D7B; /* blue */
	padding:5px 5px;
	width:7em;
	
	transition:background-color 750ms linear;
	-moz-transition:background-color 750ms linear;
	-webkit-transition:background-color 750ms linear;
	-o-transition:background-color 750ms linear;
}

#navbar > div > div
{
	opacity:0;
	visibility:hidden;
	position:absolute;
	top:100%;
	width:100%;
	
	transition:visibility 0s linear 750ms, opacity 750ms linear;
	-moz-transition:visibility 0s linear 750ms, opacity 750ms linear;
	-webkit-transition:visibility 0s linear 750ms, opacity 750ms linear;
	-o-transition:visibility 0s linear 750ms, opacity 750ms linear;
}

#navbar > div:hover > a
{
	background-color:#CEA73C; /* old gold */
}

#navbar > div:hover > div
{
	opacity:1;
	visibility:visible;
	
	transition-delay:0s;
	-moz-transition-delay:0s;
	-webkit-transition-delay:0s;
	-o-transition-delay:0s;
}

#navbar > div > div > a
{
	display:block;
	background-color:#CEA73C; /* old gold */
	padding:0.25em 0;
	width:100%;
	border-width:1px 0 0 0;
	border-style:solid;
}

#navbar > div > div > a:hover
{
	background-color:#FFF284; /* light yellow */
}